@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.VsSaaS.Services.CloudEnvironments.PortForwarding.ErrorsBackend.Models

@model ErrorPageDetails

@inject IViewLocalizer Localizer

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="icon" href="@ViewBag.Favicon" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
        html, body {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
            font-size: 14px;
        }

        body {
            background-color: #E5E5E5;
            justify-content: center;
            font-family: "SF Pro Text", Helvetica, Arial, Sans-Serif;
        }

        body, .error__wrapper, .error__container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .error__container {
            background: #FFFFFF;
            border: 1px solid #D1D5DA;
            box-sizing: border-box;
            border-radius: 6px;
            width: 360px;
            padding: 32px 64px;
            margin-top: 0;
            margin-bottom: 16px;
        }

        .error__icon {
            width: 24px;
            height: 24px;
            background-image: url("/images/desktop-device-24.svg");
            margin-top: 0;
            margin-bottom: 18px;
        }

        .error__status-code {
            font-size: 32px;
            font-family: "SF Mono", "Courier New", Courier, monospace;
            margin-top: 0;
            margin-bottom: 16px;
        }

        .error__status-text {
            margin-top: 0;
            margin-bottom: 0px;
            font-weight: bold;
            font-size: 14px;
        }

        .error__error-detail {
            margin-top: 5px;
            margin-bottom: 16px;
            text-align: center;
            line-height: 20px;
        }

        .error__navigation {
            display: flex;
            margin: 0;
            padding: 0;
        }

            .error__navigation .error__nav-list-separator {
                padding: 0 8px;
            }

            .error__navigation > li {
                list-style: none;
            }

                .error__navigation > li > a {
                    color: #0366D6;
                    font-style: normal;
                    text-decoration: none;
                }

                    .error__navigation > li > a:hover {
                        text-decoration: underline;
                    }

        .error__request-id {
            font-style: italic;
            color: #6A737D;
            font-size: 13px;
        }
    </style>
</head>

<body>

    <div class="error__wrapper">

        <main class="error__container">
            <div class="error__icon" aria-hidden="true">
            </div>

            <h1 class="error__status-code" aria-label="@Localizer.GetString("Status code: {0}", @Model.StatusCode.ToString("D"))">@Model.StatusCode.ToString("D")</h1>
            <h2 class="error__status-text" aria-label="@Localizer.GetString("Status text: {0}", @Model.StatusText)">@Model.StatusText</h2>

            <p class="error__error-detail">@Model.ErrorDetail</p>

            <nav>
                <ul class="error__navigation">
                    <li>
                        <a href="@Model.DocumentationUri">@Localizer["View docs"]</a>
                    </li>
                    <li aria-hidden="true"><div class="error__nav-list-separator">•</div></li>
                    <li>
                        <a href="@Model.StatusPageUri">@Localizer["Service status"]</a>
                    </li>
                </ul>
            </nav>
        </main>

        <footer role="complementary" class="error__request-id">@Localizer.GetString("Request ID: {0}", Model.RequestId)</footer>

    </div>

</body>

</html>
