@using Microsoft.VsCloudKernel.Services.Portal.WebSite
@model PortForwardingErrorDetails

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Port Forwarding exceptions...</title>
</head>
<body>
    <div>
        @switch (@Model.FailureReason) {
            case PortForwardingFailure.InvalidPath:
                <p>Failed connecting to Visual Studio Online environment.</p>
                break;

            case PortForwardingFailure.InvalidCookiePayload:
                <p>Bad Cookie, redirecting back to the portal...</p>

                <p>In case you were not redirected automatically, <a href="@Model.RedirectUrl">Redirect</a></p>
                
                <script type="text/javaScript">
                    setTimeout(function() {
                        window.location = "@Model.RedirectUrl";
                    }, 1000);
                </script>
                break;

            case PortForwardingFailure.NotAuthenticated:
                <p>You need to sign in first, redirecting...</p>

                <p>In case you were not redirected automatically, <a href="@Model.RedirectUrl">Redirect</a></p>

                <script type="text/javaScript">
                    setTimeout(function() {
                        window.location = "@Model.RedirectUrl";
                    }, 1000);
                </script>
                break;

            case PortForwardingFailure.NotAuthorized:
                <p>You do not have access to this server.</p>
                break;

            case PortForwardingFailure.InvalidWorkspaceOrOwner:
                <p>Either workspace id or owner id is null/incorrect.</p>
                break;

            default:
                <p>PortForwarder Failed due to unknown reason.</p>
                <a href="@Model.RedirectUrl">Reload</a>

                break;
        }
    </div>
</body>
</html>