@using Microsoft.VsCloudKernel.Services.Portal.WebSite
@model PortForwardingErrorDetails

<!doctype html>
<html lang="en">
<head>
    <title>Port Forwarding exceptions...</title>
</head>
<body>
    <div class="vsonline__redirect">
        @switch (@Model.FailureReason) {
            case PortForwardingFailure.InvalidPath:
                <p>Failed connecting to Visual Studio Online environment.</p>
                break;

            case PortForwardingFailure.InvalidCookiePayload:
                <p>Redirecting back to the portal...</p>
                <p>Click <a href="@Model.RedirectUrl">here</a> if your browser does not automatically redirect.</p>
                <div class="vsonline__spinner"></div>
                
                <script type="text/javaScript">
                    setTimeout(function() {
                        window.location = "@Model.RedirectUrl";
                    }, 5000);
                </script>
                break;

            case PortForwardingFailure.NotAuthenticated:
                <p>You need to sign in first, redirecting...</p>
                <p>Click <a href="@Model.RedirectUrl">here</a> if your browser does not automatically redirect.</p>
                <div class="vsonline__spinner"></div>

                <script type="text/javaScript">
                    setTimeout(function() {
                        window.location = "@Model.RedirectUrl";
                    }, 5000);
                </script>
                break;

            case PortForwardingFailure.NotAuthorized:
                <p>You do not have access to this server.</p>
                break;

            case PortForwardingFailure.InvalidWorkspaceOrOwner:
                <p>Either workspace id or owner id is null/incorrect.</p>
                break;

            default:
                <p>PortForwarder Failed due to unknown reason.</p>
                <a href="@Model.RedirectUrl">Reload</a>
                break;
        }
    </div>
</body>
</html>